{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ author.first_name }} {{ author.last_name }}</h1>
  <p>{% if author.account %} Account: <b>{{author.account}}</b>{% endif %} </p>
  <p>{{ author.date_of_birth }} - {% if author.date_of_death %} {{ author.date_of_death }} {% else %} Present {% endif %}</p>

  <div style="margin-top:20px">
    <h4>Stihi</h4>
    {% for stih in author.stih_set.all %}
    <ul>
      <li class="{% if stih.checked is False %}text-danger{% endif %}">
        <a href="{% url 'stih-detail' stih.pk %}">{{stih.title}}</a> ({{ stih.pub_date|date:"Y" }})
      </li>
    </ul>
    {% endfor %}
  </div>
  {% if perms.catalog.can_validate and author.classic %}
    <a href="{% url 'author_update' author.pk %}">Update author</a> | 
    <a href="{% url 'author_delete' author.pk %}">Delete author</a>
  {% endif %}
{% endblock %}